body {
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
} 

#header {
    height: 100vh; 
    background-image: url("../Imgs/Header4.jpg") !important; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: background-color 0.2s ease-in-out;
}

.topnav .rechts {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.links {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.topnav-right {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
  margin: 0 5rem;
}

.card {
  width: 40rem ;
}

#map { height: 350px; }

.map {
  height: 400px;
  width: 100%;
}

#myChart{
  height: 400;
  width: 400;
}
